<div class="container">
  <div class="text-center">
    <img src="assets/logo.png" alt="" />
    <h3>Bienvenido, por favor ingrese sus datos</h3>
  </div>
  <form [formGroup]="formularioLogin">
    <div class="mb-3">
      <label for="email" class="form-label">Correo electrónico</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        aria-describedby="emailHelp"
        placeholder="Ingrese su correo electrónico"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
        placeholder="Ingrese su constraseña"
      />
    </div>

    <button
      type="submit"
      [disabled]="!formularioLogin.valid"
      (click)="ingresar()"
      class="btn btn-primary"
    >
      Ingresar
    </button>
  </form>
</div>
