<div class="container mt-4">
    <div class="row">
        <div class="col-sm-6">
            <app-seleccionar-cliente 
            
            [nombre]="clienteSeleccionado.nombre + ' ' + clienteSeleccionado.apellido"
            (seleccionoCliente)="asignarCliente($event)"
            (canceloCliente)="eliminarCliente()"
            >
            </app-seleccionar-cliente>

            <div class="from-control mt-3">
                <label for="">Precio</label>
                <select 
                [(ngModel)]= "idPrecio"
                (change)="seleccionarPrecio($any($event.target).value)" 
                class="form-control" 
                name="" id="">
                    <option [value]="null">Selecccione un precio..</option>
                    <option 
                    *ngFor="let precio of precios" 
                    [value]="precio.id">
                        {{precio.nombre}}
                    </option>
                </select>
            </div>

            <div class="from-control">
                <label for="">Fecha de Inicio:</label>
                <input class="form-control" [value]="inscripcion.fecha | date" type="text" disabled>
            </div>

            <div class="from-control">
                <label for="">Fecha de Finalizacion:</label>
                <input class="form-control" [value]="inscripcion.fechaFinal | date" type="text" disabled>
            </div>

            <div class="from-control">
                <label for="">Subtotal:</label>
                <input class="form-control" [value]="inscripcion.subtotal" type="number" disabled>
            </div>

            <div class="from-control">
                <label for="">IGV:</label>
                <input class="form-control" [value]="inscripcion.igv" type="number" disabled>
            </div>

            <div class="from-control">
                <label for="">Total:</label>
                <input class="form-control" [value]="inscripcion.total" type="number" disabled>
            </div>

            <br>

            <button class="btn btn-primary" (click)="guardar()" >Guardar</button>
        </div>

        <div class="col-sm-6 ml-4" id="lado-derecho" >
            <div id="div-der">
                <div *ngIf="clienteSeleccionado.imgUrl" class="imgCliente">
                    <img  [src]="clienteSeleccionado.imgUrl" alt="imagen cliente">
                </div>
            </div>
        </div>
    </div>
</div>
