
#der-div{
    width: 40%;
    height: 400px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 5px;
    position: relative;
    background-color: #212121;
    border-style: groove;
    border-radius: 20px;
}

#hijo{
    width: 100%;
    height: 80%;
    position: absolute;
    top: 12%;
}

#titulo-precio{
    background-color: rgb(243, 233, 187);
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.list{
    list-style-type: square;
    cursor: pointer;
    font-size: 23px;
    text-align: left;
    display:inline-block;
}

#al:hover{
    color:rgb(206, 202, 7);
}
