
#der-div{
    width: 80%;
    height: 100%;
    color: rgb(255, 255, 255);
    position: relative;
    padding-left: 2rem ;
    margin-top: 2rem;
    background-color: #212121;
    border-style: groove;
    overflow-y:scroll ;
    overflow-x: hidden;

}

#hijo{
    width: 100%;
    height: 80%;
    position: absolute;
    top: 12%;
}

#titulo-precio{
    margin-bottom: 1rem;
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.list{
    list-style-type: square;
    cursor: pointer;
    font-size: 23px;
    text-align: left;
    display:inline-block;
}

#al:hover{
    color:rgb(255, 230, 0);
    font-size: 25px;
}
